@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: "Times New Roman", Times, serif;
}